<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button><a href="/">Home</a></button>
    <h1>@ViewBag.OneDish.Name</h1>
    <p>@ViewBag.OneDish.Chef</p>

    <div class="jumbotron">
        <p>@ViewBag.OneDish.Description</p>
        <p>Calories: @ViewBag.OneDish.Calories</p>
        <p>Tastiness: @ViewBag.OneDish.Tastiness</p>
        @* runs DeleteDish in controllers *@
        <button class="btn-danger"><a href="delete/@ViewBag.OneDish.DishId">Delete</a></button>
        @* To Edit page *@
        @* pass the id of the dish to update *@
        <a href="update/@ViewBag.OneDish.DishId">Edit</a>
    </div>
</body>

</html>